/* ==========================================================================
   #TEXT-UTILITIES
   ========================================================================== */
.text-pointer {
  cursor: pointer;
  font-weight: 500;
  color: $color-primary;
  text-decoration: underline;
}

.text-error {
  font-weight: 500;
  font-size: 0.8rem;
  color: $color-danger;
}

.u-text-upper {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: $color-dark !important;
}
