/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #55cefa;
$color-dark: #000;
$color-grey: #4a4a4a;
$color-red: #99000F;
$color-yellow: #fbca66;
$color-purple: #745de5;
$color-purple-dark: #494454;
$color-seashell: #fbf7f4;
$color-mona-lisa: #fc9082;
$color-green-dark: #164951;
$color-green: #009688;

$color-primary: $color-mona-lisa;
$color-secondary: $color-green-dark;
$color-terciary: $color-yellow;
$color-body: $color-green-dark;
$color-danger: $color-red;
$color-warning: $color-yellow;
$color-bg: $color-seashell;
$color-success: $color-green;
